.box {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
  background-color: #f2f2f2;
  width: 750px;
  height: 635px;

  .bd {
    margin-left: 31px;
    width: 318px;
    max-width: 707px;
    height: 33px;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 33px;
    letter-spacing: 0.11px;
    white-space: pre;
    color: #000000;
    font-size: 24px;
    font-weight: 500;
  }
  .ft {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 27px;
    width: 749px;

    .outer {
      display: flex;
      align-items: flex-start;
      flex-direction: column;
      border-radius: 12px;
      background-color: rgba(232, 195, 148, 0.82);
      width: 689px;
      height: 490px;

      .getStart {
        margin-top: 28px;
        margin-left: 28px;
        width: 93px;
        max-width: 649px;
        height: 30px;
        overflow: hidden;
        text-overflow: ellipsis;
        line-height: 30px;
        letter-spacing: 0.08px;
        white-space: pre;
        color: #4d4d4d;
        font-size: 22px;
        font-weight: 500;
      }
      .title {
        margin-top: 18px;
        margin-left: 28px;
        width: 389px;
        max-width: 649px;
        height: 30px;
        overflow: hidden;
        text-overflow: ellipsis;
        line-height: 30px;
        letter-spacing: 0.08px;
        white-space: pre;
        color: #ffffff;
        font-size: 22px;
        font-weight: 500;
      }
      .itemWrap {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-top: 36px;
        width: 688px;

        .item {
          width: 220px;
          height: 207px;
        }
      }
      .tryWrap {
        box-sizing: border-box;
        display: flex;
        align-items: center;
        flex-direction: row;
        margin-top: 89px;
        margin-left: 587px;
        border-radius: 15px;
        background-color: #eeeeee;
        padding-right: 28px;
        padding-left: 28px;
        height: 30px;

        .try {
          width: 25px;
          height: 22px;
          line-height: 22px;
          letter-spacing: 0.07px;
          white-space: nowrap;
          color: #b38765;
          font-size: 16px;
          font-weight: 500;
        }
      }
    }
  }
}
